@using BootstrapSupport
@model IEnumerable<Contabilidade.ViewModel.ObrigacaoView>

@{
    ViewBag.Title = "Index";
}
@*  <div class="panel-group" id="questions">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle btn" data-toggle="collapse" data-parent="questions"
                   href="#who">Buscar</a>
            </div>
            <div class="accordion-inner">

            </div>
        </div>
    </div>*@


<h4><small>Listagem de </small>Obrigação</h4>

<div class="panel-group" id="accordion">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle btn" data-toggle="collapse" data-parent="questions"
               href="#who"><b>Buscar</b></a>
        </div>
        <div id="who" class="accordion-body collapse">
            <div class="accordion-inner">
                @using (Html.BeginForm())
                {
                    <p><p>
                        Busca por: @Html.TextBox("SearchDesc", null, new { placeholder = "Descrição" })
                        @Html.TextBox("SearchSetor", null, new { placeholder = "Setor" })
                        @Html.TextBox("SearchDia", null, new { placeholder = "Dia da Entrega" })
                        <button type="submit" class="btn">Buscar</button>
                        @*@Html.ActionLink("Buscar", "Busca", null, new { @class = "btn" })*@
                        @*  <input type="submit" value="Buscar" />*@
                    </p>
                </P>
                }
                @*<form class="navbar-form pull-left">
                        <input type="text" class="span2">
                        <button type="submit" class="btn">Enviar</button>
                    </form>*@
            </div>
        </div>
    </div>
</div>

<table class="table table-striped">
    <caption></caption>
    <thead>
        <tr>
            <th>
                Descrição
            </th>
            <th>
                Dia da Entrega
            </th>
            <th>
                Data de Validade
            </th>
            <th>
                Setor
            </th>
            <th></th>
        </tr>
    </thead>
    @{ int index = 0; }
    @foreach (var obrigacao in Model)
    {
        ViewData[index.ToString()] = obrigacao;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => obrigacao.Descricao)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => obrigacao.DiaEntrega)
            </td>
            <td>
                @String.Format("{0:d}", obrigacao.DataValidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => obrigacao.Setor.Descricao)
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Ações
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @{
                            @Html.TryPartial("_actions", obrigacao)
                            var routevalues = obrigacao.GetIdValue();
                            <li>@Html.ActionLink("Editar", "Edit", routevalues)</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Excluir", "Delete", routevalues)</li>

                        }
                    </ul>
                </div>
            </td>
        </tr>
        index++;
    }
</table>
<p>
    @Html.ActionLink("Incluir", "Create", null, new { @class = "btn" })
</p>
