@using BootstrapSupport
@model IEnumerable<Contabilidade.ViewModel.ObrigacaoView>

@{
    ViewBag.Title = "Index";
}


<h4><small>Listagem de </small>Obrigação</h4>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    Busca
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    <p>
                        Busca por: @Html.TextBox("SearchDesc",null, new { placeholder = "Descrição" })
                        @Html.TextBox("SearchSetor", null, new { placeholder = "Setor" })
                        @Html.TextBox("SearchDia", null, new { placeholder = "Dia da Entrega" })
                        <input type="submit" value="Buscar" />
                    </p>
                }
                @*<form class="navbar-form pull-left">
                    <input type="text" class="span2">
                    <button type="submit" class="btn">Enviar</button>
                </form>*@
            </div>
        </div>
    </div>
</div>

<table class="table table-striped">
    <caption></caption>
    <thead>
        <tr>
            <th>
                Descrição
            </th>
            <th>
                Dia da Entrega
            </th>
            <th>
                Data de Validade
            </th>
            <th>
                Setor
            </th>
            <th></th>
        </tr>
    </thead>
    @{ int index = 0; }
    @foreach (var obrigacao in Model)
    {
        ViewData[index.ToString()] = obrigacao;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => obrigacao.Descricao)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => obrigacao.DiaEntrega)
            </td>
            <td>
                @String.Format("{0:d}", obrigacao.DataValidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => obrigacao.Setor.Descricao)
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Ações
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @{
                            @Html.TryPartial("_actions", obrigacao)
                            var routevalues = obrigacao.GetIdValue();
                            <li>@Html.ActionLink("Editar", "Edit", routevalues)</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Excluir", "Delete", routevalues)</li>

                        }
                    </ul>
                </div>
            </td>
        </tr>
        index++;
    }
</table>
<p>
    @Html.ActionLink("Incluir", "Create", null, new { @class = "btn" })
</p>
