@using BootstrapSupport
@model IEnumerable<Contabilidade.ViewModel.OrdemDeServicoView>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBasicoProjeto.cshtml";
}

<h4><small>Listagem de </small>Ordem de Serviço </h4>

<div class="panel-group" id="accordion">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle btn" data-toggle="collapse" data-parent="questions"
               href="#who"><b>Buscar</b></a>
        </div>
        <div id="who" class="accordion-body collapse">
            <div class="accordion-inner">
                @using (Html.BeginForm())
                {
                    <div>
                        <p>
                            Busca por: @Html.DropDownList("searchIdResponsavel", new SelectList(@ViewBag.AllUsuarios, "Value", "Text"), "- Responsavel -")
                            @Html.DropDownList("searchIdSetor", new SelectList(@ViewBag.AllSetores, "Value", "Text"), "- Setor -")
                            @Html.DropDownList("searchIdCliente", new SelectList(@ViewBag.AllClientes, "Value", "Text"), "- Cliente -")

                            <button type="submit" class="btn">Buscar</button>
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

    <table class="table table-striped">
        <caption></caption>
        <thead>
            <tr>
                <th>
                    Status
                </th>
                <th>
                    Cliente
                </th>
                <th>
                    Responsavel
                </th>
                <th>
                    Setor
                </th>
                <th>
                    Data de Entrega
                </th>
                <th>
                    Concluido
                </th>
                <th></th>
            </tr>
        </thead>
        @{ int index = 0; }
        @foreach (var os in Model)
        {
            ViewData[index.ToString()] = os;
            <tr>
                @if (os.StatusTela.Equals(1))
                {
                <td>
                    <img src="\Content\images\icones_semaforo\semaforo-amarelo.png" class="img-rounded">
                </td>
                }
                else
                {
                    if (os.StatusTela.Equals(2))
                    {
                        <td>
                            <img width="35" height="35"  src="\Content\images\icones_semaforo\semaforo-verde.png" class="img-rounded">
                        </td>
                    }else
                        if (os.StatusTela.Equals(3))
                        {
                            <td>
                                <img src="\Content\images\icones_semaforo\semaforo-verde.png" class="img-rounded">
                            </td>
                        }
                        else
                        {
                            if (os.StatusTela.Equals(0))
                            {
                                <td>
                                    <img src="\Content\images\icones_semaforo\semaforo-cinza.png" class="img-rounded">
                                </td>
                            }   
                        }
                }
                             
                
                <td>
                    @Html.DisplayFor(modelItem => os.Cliente.RazaoSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => os.Responsavel.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => os.Setor.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => os.DataEntrega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => os.Status)
                </td>

                <td>
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            Ações
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @{
                                @Html.TryPartial("_actions", os)
                                var routevalues = os.GetIdValue();
                                <li>@Html.ActionLink("Editar", "Edit", routevalues)</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Listar Etapas", "ListarEtapas", routevalues)</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Excluir", "Delete", routevalues)</li>

                            }
                        </ul>
                    </div>
                </td>
            </tr>
            index++;
        }
    </table>
    <p>
        @Html.ActionLink("Incluir", "Create", null, new { @class = "btn" })
        @Html.ActionLink("IniciarJobCriacao", "IniciaJobCriacao", null, new { @class = "btn" })
    </p>
