@using BootstrapSupport
@model IEnumerable<Contabilidade.Models.Etapa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBasicoProjeto.cshtml";
}

<h4><small>Etapa da OS</small> 12 </h4>

<table class="table table-striped">
    <caption></caption>
    <thead>
        <tr>
            <th>
                Obrigação
            </th>
            <th>
                Data de Entrega
            </th>
            <th>
                Concluido
            </th>
            <th></th>
        </tr>
    </thead>
    @{ int index = 0; }
    @foreach (var etapa in Model)
    {
        ViewData[index.ToString()] = etapa;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => etapa.ObrigacaoString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => etapa.DataEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => etapa.Concluido)
            </td>
            
            <td>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Ações
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @{
                            @Html.TryPartial("_actions", etapa)
                            var routevalues = etapa.GetIdValue();
                            <li>@Html.ActionLink("Editar", "Edit", routevalues)</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Excluir", "Delete", routevalues)</li>

                        }
                    </ul>
                </div>
            </td>
        </tr>
        index++;
    }
</table>
<p>
    @Html.ActionLink("Incluir", "Create", null, new { @class = "btn" })
</p>
