@model Contabilidade.ViewModel.ClienteView

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutBasicoProjeto.cshtml";
}

<style type="text/css" media="all">
    body {
        background-color: #eef;
    }

    #tabs {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
</style>


<h3><small>Cadastro de </small>Cliente</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div id="tabs">
        <!-- Only required for left/right tabs -->
        @*<ul class="nav nav-tabs">
                <li class="active"><a href="#tabCliente" data-toggle="tab">Cliente</a></li>
                <li><a href="#tabPerfil" data-toggle="tab">Perfil</a></li>
            </ul>*@
        <ul>
            <li class="active"><a href="#tabCliente">Cliente</a></li>
            <li><a href="#tabPerfil">Perfil</a></li>
        </ul>
        <div class="tab-content">
            <div id="tabCliente">
                <p>
                    <fieldset class="form-horizontal">
                        <div class="control-group">
                            @Html.Label("Razão Social", new { @class = "control-label" })
                            <div class="controls">
                                @Html.EditorFor(model => model.RazaoSocial, new { @class = "input-xlarge" })
                                @Html.ValidationMessageFor(model => model.RazaoSocial)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.Label("CNPJ", new { @class = "control-label" })
                            <div class="controls">
                                @Html.EditorFor(model => model.Cnpj, new { @class = "input-xlarge" })
                                @Html.ValidationMessageFor(model => model.Cnpj)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.Label("Município", new { @class = "control-label" })
                            <div class="controls">
                                @Html.EditorFor(model => model.Municipio, new { @class = "input-xlarge" })
                                @Html.ValidationMessageFor(model => model.Municipio)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.Label("Estado", new { @class = "control-label" })
                            <div class="controls">
                                @Html.DropDownListFor(model => model.SetorEconomico, new SelectList(
                                                       new List<Object>{
                                                           new { value = true , text = "SC"  },
                                                           new { value = false , text = "PR"  },
                                                           new { value = false , text = "RS"  },
                                                       },
                                                       "value",
                                                       "text",
                                                     true))
                                @Html.ValidationMessageFor(model => model.Estado)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.Label("Setor Econômico", new { @class = "control-label" })
                            <div class="controls">
                                @Html.DropDownListFor(model => model.SetorEconomico, new SelectList(
                                                       new List<Object>{
                                                           new { value = true , text = "Comercio"  },
                                                           new { value = false , text = "Industria"  },
                                                       },
                                                       "value",
                                                       "text",
                                                     true))
                                @Html.ValidationMessageFor(model => model.SetorEconomico)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.Label("Setor Econômico", new { @class = "control-label" })
                            <div class="controls">
                                @Html.DropDownListFor(model => model.SetorEconomico, new SelectList(
                                  new List<Object>{
                                       new { value = "Indústria" , text = "Industria"  },
                                       new { value = "Comércio" , text = "Comercio"  },
                                       new { value = "Cooperativa" , text = "Cooperativa"  },
                                       new { value = "Distribuição" , text = "Distribuicao"  },
                                    },
                                  "value",
                                  "text",
                                   2))
                                @Html.ValidationMessageFor(model => model.SetorEconomico)
                            </div>
                        </div>


                        <div class="control-group">
                            @Html.Label("Natureza PJ", new { @class = "control-label" })
                            <div class="controls">
                                @Html.DropDownListFor(model => model.Natureza, new SelectList(
                                      new List<Object>{
                                           new { value = "Sociedade Empresária Geral" , text = "Sociedade Empresária Geral"  },
                                           new { value = "Sociedade Cooperativa" , text = "Sociedade Cooperativa"  },
                                           new { value = "PIS/PASEP sobre Folha de Pagto" , text = "PIS/PASEP sobre Folha de Pagto"  },
                                      },
                                      "value",
                                      "text",
                                       2))
                                @Html.ValidationMessageFor(model => model.Natureza)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.Label("Regime Apuração", new { @class = "control-label" })
                            <div class="controls">
                                @Html.DropDownListFor(model => model.RegimeApuracao, new SelectList(
                                      new List<Object>{
                                           new { value = "Cumulativo" , text = "Cumulativo"  },
                                           new { value = "Não-Cumulativo" , text = "Não-Cumulativo"  },
                                           new { value = "Cumulativo e Não-Cumulativo" , text = "Cumulativo e Não-Cumulativo"  },
                                      },
                                      "value",
                                      "text",
                                       2))
                                @Html.ValidationMessageFor(model => model.RegimeApuracao)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.Label("ISS Retenção", new { @class = "control-label" })
                            <div class="controls">
                                @Html.DropDownListFor(model => model.RegimeApuracao, new SelectList(
                                  new List<Object>{
                                       new { value = "Não" , text = "Nao"  },
                                       new { value = "Sim" , text = "Sim"  },
                                  },
                                  "value",
                                  "text",
                                   2))
                                @Html.ValidationMessageFor(model => model.RegimeApuracao)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.Label("Atividade Economica", new { @class = "control-label" })
                            <div class="controls">
                                @Html.DropDownListFor(model => model.AtividadeEconomica, new SelectList(new List<Object>{new { value = "Indústria" , text = "Industria"  },
                               new { value = "Agricultura" , text = "Agricultura"  },
                               new { value = "Comércio" , text = "Comercio"  },
                               new { value = "Saúde" , text = "Saude"  },
                               },
                              "value",
                              "text",
                               2))
                                @Html.ValidationMessageFor(model => model.AtividadeEconomica)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.Label("Ativo", new { @class = "control-label" })
                            <div class="controls">
                                @Html.DropDownListFor(model => model.Ativo, new SelectList(
                                                       new List<Object>{
                                                           new { value = true , text = "Sim"  },
                                                           new { value = false , text = "Não"  },
                                                       },
                                                       "value",
                                                       "text",
                                                     true))

                                @Html.ValidationMessageFor(model => model.Ativo)
                            </div>
                        </div>

                    </fieldset>
            </div> @*FIM DA TAB1 - CLIENTE*@

            <div id="tabPerfil">
                <fieldset class="form-horizontal">

                    <div class="control-group">
                        @Html.Label("Obrigações Fiscais", new { @class = "control-label" })
                        <div class="controls">
                            @Html.DropDownListFor(m => m.SelectedObrigadoesFiscais, Model.AllObrigacoesFiscais, "-- Seleciona um Usuário --", new { @class = "chosen-select", multiple = "multiple", tabindex = "4", style = "width:350px;" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.Label("Responsável Fiscal", new { @class = "control-label" })
                        <div class="controls">
                            @Html.DropDownListFor(model => model.ResponsavelFiscalId, new SelectList(Model.AllUsuarios, "Value", "Text"), "-- Seleciona um Usuário --", new { @class = "chosen-select", style = "width:350px;" })
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.Label("Obrigações Contabeis", new { @class = "control-label" })
                        <div class="controls">
                            @Html.ListBoxFor(m => m.SelectedObrigadoesContabeis, Model.AllObrigacoesContabeis, new { @class = "chosen-select", multiple = "multiple", tabindex = "4", style = "width:350px;" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.Label("Responsável Contabil", new { @class = "control-label" })
                        <div class="controls">
                            @Html.DropDownListFor(model => model.ResponsavelFiscalId, new SelectList(Model.AllUsuarios, "Value", "Text"), "-- Seleciona um Usuário --", new { @class = "chosen-select", style = "width:350px;" })
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.Label("Obrigações RH", new { @class = "control-label" })
                        <div class="controls">
                            @Html.ListBoxFor(m => m.SelectedObrigadoesRH, Model.AllObrigacoesRH, new { @class = "chosen-select", multiple = "multiple", tabindex = "4", style = "width:350px;" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.Label("Responsável RH", new { @class = "control-label" })
                        <div class="controls">
                            @Html.DropDownListFor(model => model.ResponsavelFiscalId, new SelectList(Model.AllUsuarios, "Value", "Text"), "-- Seleciona um Usuário --", new { @class = "chosen-select", style = "width:350px;" })
                        </div>
                    </div>

                </fieldset>
            </div>@*FIM DA TAB2 - Perfil*@

        </div>
    </div>


    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Salvar</button>
        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn " })
    </div>
}

<div>
    @Html.ActionLink("Voltar para a Listagem", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(function () {
        $("#tabs").tabs();
    });
</script>

