@using BootstrapSupport
@model IEnumerable<Contabilidade.ViewModel.ClienteView>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBasicoProjeto.cshtml";
}

<h4><small>Listagem de </small>Cliente </h4>

<table class="table table-striped">
    <caption></caption>
    <thead>
        <tr>
            <th>
                Razão Social
            </th>
            <th>
                CNPJ
            </th>
            <th>
                Municipio
            </th>
            <th>
                Estado
            </th>
            <th>
                Setor
            </th>
            <th></th>
        </tr>
    </thead>
    @{ int index = 0; }
    @foreach (var cliente in Model)
    {
        ViewData[index.ToString()] = cliente;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => cliente.RazaoSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => cliente.Cnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => cliente.Municipio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => cliente.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => cliente.SetorEconomico)
            </td>

            <td>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Ações
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @{
                            @Html.TryPartial("_actions", cliente)
                            var routevalues = cliente.GetIdValue();
                            <li>@Html.ActionLink("Editar", "Edit", routevalues)</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Excluir", "Delete", routevalues)</li>

                        }
                    </ul>
                </div>
            </td>
        </tr>
        index++;
    }
</table>

<p>
    @Html.ActionLink("Incluir", "Create", null, new { @class = "btn" })
</p>