@model Contabilidade.Models.Setor
@using BootstrapSupport

@{
    ViewBag.Title = "Delete";
}

<h3>Tem certeza que deseja excluir o Setor?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>Setor</legend>

        @Html.Label("Descricao", new { @class = "control-label" })
        <div class="controls">
            @Html.EditorFor(model => model.Descricao, new { @class = "input-xlarge disabled" })
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>

        <div class="form-actions">
            <button type="submit" value="Delete" class="btn btn-primary">Excluir</button>
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn " })
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar para a Listagem", "Index")
</div>



@*@model Contabilidade.Models.Setor

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Setor</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descricao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descricao)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Voltar ", "Index")
    </p>
}*@
